
@{
    ViewData["Title"] = "Error";
}


<center class="mt-5">
    <h1 style="font-weight: lighter;">@ViewData["Codigo"]</h1>
    <h5 style="font-weight: bold;">@ViewData["Error"]</h5>
    <a href="@Url.Action("Index", "Principal")">Volver a principal</a>
</center>



