@{
    ViewData["Title"] = "Inicio";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link href="~/lib/particles/style.css" rel="stylesheet" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <!-- partial:index.partial.html -->
    <center class="text" style="z-index: 100">
        <p><a class="btn waves-effect waves-light" asp-area="" asp-controller="Login" asp-action="Index">Iniciar sesión</a></p>
    </center>
    <div id="particles-js"></div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js'></script>
    <script src="~/lib/particles/script.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>