@model SMA.Models.ViewModels.ChangePasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <title>Cambio de contraseña</title>
</head>
<body>
    <link href="~/lib/passwordvalidatormeter/PasswordValidatorMeter.css" rel="stylesheet" />

    <form asp-action="RecoveryConfirmed" method="post">
        <div class="card">
            <div class="card-header">
                <h4 class="modal-title">Cambio de contraseña</h4>

            </div>
            <div class="card-body">
                <div class="col-md-12 row">
                    <div class="col-md-6 mt-5">
                        @Html.HiddenFor(x => x.Token)
                        <input type="hidden" name="idUsuario" value="@Model.IdUsuario" />
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input class="form-control"
                                   id="password"
                                   name="password"
                                   required="required"
                                   autocomplete="new-password"
                                   type="password"
                                   asp-for="Password" />
                            <small><i id="eyePass" class="far fa-eye input-eye-icon"></i></small>
                        </div>

                        <div class="form-group">
                            <label for="confirmPassword">Confirmar contraseña</label>
                            <input class="form-control"
                                   id="confirmPassword"
                                   name="confirmPassword"
                                   required="required"
                                   asp-for="ConfirmPassword"
                                   type="password" />
                            <small><i id="eyeConfirm" class="far fa-eye input-eye-icon"></i></small>
                            <p id="errorConfirm" class="text-danger"></p>
                        </div>

                        <div id="meter-strength">
                            <meter value="0" min="0" max="100" id="password-meter"></meter>
                            <p id="password-pecentage"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="message">
                            <h4>Debe contener:</h4>
                            <ul class="list-unstyled">
                                <li><p id="letter" class="invalid">Una <b>letra minúscula</b></p></li>
                                <li><p id="capital" class="invalid">Una <b>letra maýuscula</b></p></li>
                                <li><p id="number" class="invalid">Un <b>número</b></p></li>
                                <li><p id="character" class="invalid">Un <b>caracter especial</b></p></li>
                                <li><p id="min-length" class="invalid length">Mínimo <b>8 caracteres</b></p></li>
                                <li><p id="max-length" class="invalid length">Máximo <b>25 caracteres</b></p></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer justify-content-end">
                <button class="btn btn-success btn-sm" type="submit" style="margin-right:5px;" id="btnCambiarClave">
                    <span class="glyphicon glyphicon-pencil"></span> Guardar
                </button>
            </div>
        </div>

    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/passwordvalidatormeter/PasswordValidatorMeter.js"></script>
    @section Scripts {

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
