

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    SMA.Entities.TUsuario usuario = null;
    var usuarioTemp = HttpContextAccessor.HttpContext.Session.GetString("usuario");
    if (usuarioTemp != null)
    {
        usuario = (Newtonsoft.Json.JsonConvert.DeserializeObject<SMA.Entities.TUsuario>(usuarioTemp));
    }
}


<li class="nav-item dropdown ">
    <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-solid fa-bell"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</li>