
@{
    ViewData["Title"] = "Denegado";
}

<center class="mt-5">
    <h1 style="font-weight: lighter;">Acceso denegado.</h1>
    <h5 style="font-weight: bold;">No tienes los permisos para ingresar.</h5>
</center>

